@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'work Sans';
    margin: 0;
    padding: 0;
}
html{
    /*me permite deslizar cuando hago click en los links de menu*/
    scroll-behavior: smooth;
}