.mis-redes{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    h1{
        text-align: center;
    }
}
.contenedor-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    .cards-tittle{
        text-align: center;
    }
}

@import "./cards";
