.skills{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skills > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skills .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skills .progreso{
    background-color: #1cb698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skills .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1cb698;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop{
    0%{width: 0%;}
    100%{width: 75%;}
}
.skills .skill .sonyvegascapcut{
    width: 0%;
    animation: 2s sonyvegascapcut forwards;
}
@keyframes sonyvegascapcut{
    0%{width: 0%;}
    100%{width: 85%;}
}
.skills .skill .lightroom{
    width: 0%;
    animation: 2s lightroom forwards;
}
@keyframes lightroom{
    0%{width: 0%;}
    100%{width: 85%;}
}
.skills .skill .fotografia{
    width: 0%;
    animation: 2s fotografia forwards;
}
@keyframes fotografia{
    0%{width: 0%;}
    100%{width: 90%;}
}
.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo{
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 100%;}
}
